// =======================================
// Colors
// =======================================
$violet: #645da2;
$logobg: #f5f5f5;
$white: #ffffff;
$gblue: #4486f4;
$textDark: #4e4e4e;
$fa-font-path: '../node_modules/font-awesome/fonts';
